<h4>Naudotojai</h4>

<table>
  <thead>
    <tr>
      <th>Vardas</th>
      <th>Grupe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.user_group.name %></td>
        <td><%= link_to 'Rodyti', user %></td>
        <td><%= link_to 'Redaguoti', edit_user_path(user) %></td>
        <td><%= link_to 'Trinti', user, method: :delete, data: { confirm: 'Ar tikrai norite istrinti?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
